# MongoDB Connection String
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/codebuddy?retryWrites=true&w=majority

# Authentication (JWT Secret)
JWT_SECRET=a_long_random_string_here


API_KEY=key_here
